.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}

a {
  display: inline-block;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

input {
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
